@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-ring: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-soft: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --radius-base: var(--radius);

  /* animations  */
  --animate-in: fade-in 150ms ease-out, zoom-in 150ms ease-out;
  --animate-out: fade-out 150ms ease-in, zoom-out 150ms ease-in;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(62.5% 0.163 147.7);
  --ring: oklch(62.5% 0.163 147.7);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(74.74% 0.174 132.15); 
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --warning: oklch(0.769 0.188 70.08);
  --border: oklch(0.95 0 0);
  --input: oklch(0.9 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(62.5% 0.163 147.7);
  --ring: oklch(62.5% 0.163 147.7);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(74.74% 0.174 132.15);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --warning: oklch(0.769 0.188 70.08);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-[10px] px-4 py-2 text-sm font-semibold uppercase focus:ring-2 focus:ring-primary-foreground md:text-base;
  }
  .card {
    @apply rounded-base border border-gray-200 bg-white shadow-soft;
  }
  .btn-signup {
    @apply text-nowrap text-inherit hover:bg-primary-foreground hover:text-primary;
  }
  .btn-login {
    @apply bg-primary text-primary-foreground hover:bg-primary-foreground hover:text-primary;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-bar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-bar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .scroll-bar-minimal::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scroll-bar-minimal::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll-bar-minimal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }

  .scroll-bar-minimal::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  .font-outline-1 {
    -webkit-text-stroke: 0.4px #2eae7d;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px #2eae7d;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px #2eae7d;
  }
}

.prose li {
  list-style-type: disc; /* Apply bullet style */
  margin-left: 20px; /* Add padding to align bullets */
}
.prose p {
  margin: 0 5px;
}
.prose ul {
  margin: 0 5px;
}

.ProseMirror {
  padding: 10px;
  /* height: 150px; */
  min-height: 150px;
  /* overflow: scroll; */
  outline: none;
  border: 1px solid transparent;
}

.ProseMirror:focus {
  /* outline: 2px solid var(--primary); */
  border: 1px solid var(--primary);
}

.ProseMirror::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ProseMirror {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.prose.custom-list ul li {
  list-style-type: none; /* Remove default bullets */
  margin-left: 5px;
}
.custom-list ul {
  list-style: none !important; /* Remove default bullets */
  padding-left: 0; /* Remove default indentation */
}

.custom-list ul li {
  position: relative;
  padding-left: 2rem; /* Add space for the icon */
}

.custom-list ul li::before {
  content: "\2713"; /* Unicode checkmark as placeholder */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--secondary); /* Change this to match your design */
  font-size: 10px; /* Adjust the size */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px; /* Adjust the size */
  width: 14px; /* Adjust the size */
  border: 1px solid var(--secondary);
  border-radius: 50%;
}
/* Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-arrows {
  -moz-appearance: textfield;
}

@keyframes toast-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes progress {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.animate-toast-in {
  animation: toast-in 0.3s ease-out forwards;
}

.animate-toast-out {
  animation: toast-out 0.3s ease-in forwards;
}

.animate-progress {
  animation: progress linear forwards;
}

.cm-content * {
  font-size: 10px !important;
}
